.location {
  border-color: #77777740;
}

div.location-details > * {
  min-width: 15px;
  margin-right: 15px;
}

.featured-img-container {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.featured-img-container img {
  height: 100%;
  width: 400px;
  max-width: 400px;
  border-radius: 10px;

}